body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  display: block;
  align-items: center;
}

h2 {
  color: #fff;
}

/* Table wrapper */
.table-container {
  width: 100%;
  backdrop-filter: blur(12px);
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.3);
  display: inline-table;
}

/* Table */
.modern-table {
  width: 100%;
  border-collapse: collapse;
  color: #000;
}

/* Body */
.modern-table td {
  padding: 10px;
  font-size: 14px;
}

.modern-table tr:nth-of-type(1){
  background: lightblue;
  font-weight: bold;
}

.modern-table tr:nth-of-type(1):hover {
  background: lightblue;
}

/* Row hover animation */
.modern-table tbody tr {
  transition: all 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.modern-table tbody tr:hover {
  background: rgba(255,255,255,0.08);
  transform: scale(1.002);
  border: unset;
  background-color: rgb(231, 231, 2);
}

.upload-another {
  color: #fff;
  display: block;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.upload-another:hover {
  color: #ddab06;
}

form {
  color: #fff;
  margin-bottom: 20px;
}

form button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: #ddab06;
  color: #fff;
  cursor: pointer;
  color: #000;
}

form button:hover {
  background: #ad8502;
}

form label {
  margin-right: 10px;
}
